certifi==2024.8.30
charset-normalizer==3.4.0
colorama==0.4.6
docutils==0.21.2
idna==3.10
Kivy==2.3.0
kivy-deps.angle==0.4.0
kivy-deps.glew==0.3.1
kivy-deps.sdl2==0.7.0
Kivy-Garden==0.1.5
kivymd==1.2.0
lottie==0.7.1
pillow==11.0.0
Pygments==2.18.0
pypiwin32==223
pywin32==308
qrcode==8.0
requests==2.32.3
urllib3==2.2.3
bidict==0.23.1
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.4.0
colorama==0.4.6
cryptography==43.0.3
docutils==0.21.2
h11==0.14.0
idna==3.10
importlib_metadata==8.5.0
Kivy==2.3.0
kivy-deps.angle==0.4.0
kivy-deps.glew==0.3.1
kivy-deps.sdl2==0.7.0
Kivy-Garden==0.1.5
kivymd==1.2.0
lottie==0.7.1
pillow==11.0.0
pycparser==2.22
pycryptodome==3.21.0
Pygments==2.18.0
pypiwin32==223
python-engineio==4.10.1
python-socketio==5.11.4
pywin32==308
qrcode==8.0
requests==2.32.3
segno==1.6.1
simple-websocket==1.1.0
urllib3==2.2.3
websocket-client==1.8.0
wsproto==1.2.0
zipp==3.20.2
