opencv-python
sklearn
absl-py==2.1.0
aiohappyeyeballs==2.4.3
aiohttp==3.11.4
aiosignal==1.3.1
annotated-types==0.7.0
anyio==4.6.2.post1
appdirs==1.4.4
apturl==0.5.2
asttokens==2.4.1
astunparse==1.6.3
async-timeout==5.0.1
attrs==24.2.0
bcrypt==3.2.0
beautifulsoup4==4.12.3
beniget==0.4.1
bidict==0.23.1
blinker==1.8.2
Brlapi==0.8.3
Brotli==1.0.9
cachetools==5.5.0
certifi==2024.8.30
cffi==1.17.1
chardet==4.0.0
charset-normalizer==3.4.0
click==8.1.7
cloudpickle==3.1.0
colorama==0.4.4
coloredlogs==15.0.1
contourpy==1.3.0
cpuset==1.6
cryptography==43.0.3
cuda-python @ file:///home/dcs/Downloads/cuda_python-12.6.0%2B0.gb9f40f6.dirty-cp310-cp310-linux_aarch64.whl#sha256=b60b3dacbcbf4ab4391428d33a04aabdf7f7a53a6707a27afca85b453895a02f
cupshelpers==1.0
cycler==0.12.1
Cython==0.29.37
datasets==3.1.0
dbus-python==1.2.18
decorator==4.4.2
deepface==0.0.93
defer==1.0.6
dill==0.3.8
diskcache==5.6.3
distlib==0.3.9
distro==1.7.0
distro-info==1.1+ubuntu0.2
dlib==19.24.6
docopt==0.6.2
docutils==0.21.2
duplicity==0.8.21
einops==0.8.0
exceptiongroup==1.2.2
executing==2.1.0
face-recognition==1.3.0
face-recognition-models==0.3.0
fastapi==0.115.5
fasteners==0.14.1
filelock==3.16.1
fire==0.7.0
Flask==3.0.3
Flask-Cors==5.0.0
flatbuffers==24.3.25
fonttools==4.54.1
frozenlist==1.5.0
fs==2.4.12
fsspec==2024.10.0
future==0.18.2
gast==0.4.0
gdown==5.2.0
gguf==0.10.0
google-auth==2.36.0
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
grpcio==1.67.1
gunicorn==23.0.0
h11==0.14.0
h5py==3.12.1
httpcore==1.0.7
httplib2==0.20.2
httptools==0.6.4
httpx==0.27.2
huggingface-hub==0.26.2
humanfriendly==10.0
idna==3.10
imageio==2.36.0
imageio-ffmpeg==0.5.1
importlib-metadata==4.6.4
imutils==0.5.4
iniconfig==1.1.1
interegular==0.3.3
ipython==8.29.0
itsdangerous==2.2.0
jax==0.4.35
jaxlib==0.4.35
jedi==0.19.1
jeepney==0.7.1
jetson-stats==4.2.12
Jetson.GPIO==2.1.7
Jinja2==3.1.4
jiter==0.7.1
joblib==1.4.2
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
keras==2.13.1
keyring==23.5.0
Kivy==2.3.0
Kivy-Garden==0.1.5
kivy-garden.mapview==1.0.6
kivymd==1.2.0
kiwisolver==1.4.7
language-selector==0.1
lap==0.4.0
lark==1.2.2
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
libclang==18.1.1
llvmlite==0.43.0
lm-format-enforcer==0.10.6
lockfile==0.12.2
louis==3.20.0
lxml==4.8.0
lz4==4.3.3
macaroonbakery==1.3.1
Mako==1.1.3
mapview==1.0.6
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib==3.5.1
matplotlib-inline==0.1.7
mdurl==0.1.2
mediapipe==0.10.18
mistral_common==1.5.0
ml-dtypes==0.4.1
monotonic==1.6
more-itertools==8.10.0
moviepy==1.0.3
mpmath==1.3.0
msgpack==1.1.0
msgspec==0.18.6
mtcnn==1.0.0
multidict==6.1.0
multiprocess==0.70.16
namex==0.0.8
nest-asyncio==1.6.0
networkx==3.4.2
numba==0.60.0
numpy==1.24.3
nvidia-ml-py==12.560.30
oauthlib==3.2.2
olefile==0.46
onboard==1.4.1
onnx==1.17.0
onnxconverter-common==1.14.0
onnxruntime==1.20.0
onnxruntime-gpu @ file:///home/dcs/onnxruntime_gpu-1.18.0-cp310-cp310-linux_aarch64.whl#sha256=32a3b21d264dfb288793c898172c6c09ae6078d7175095ae669ec3c6573d2b1c
onnxsim==0.4.36
openai==1.54.5
opencv-contrib-python==4.10.0.84
opencv-python==4.10.0.84
opencv-python-headless==4.10.0.84
opt_einsum==3.4.0
optree==0.13.0
outlines==0.0.46
packaging==24.1
pandas==2.2.3
paramiko==2.9.3
parso==0.8.4
partial-json-parser==0.2.1.1.post4
pexpect==4.9.0
pillow==11.0.0
platformdirs==4.3.6
pluggy==0.13.0
ply==3.11
proglog==0.1.10
prometheus-fastapi-instrumentator==7.0.0
prometheus_client==0.21.0
prompt_toolkit==3.0.48
propcache==0.2.0
protobuf==4.25.5
psutil==6.1.0
ptyprocess==0.7.0
pure_eval==0.2.3
py==1.10.0
py-cpuinfo==9.0.0
pyairports==2.1.1
pyarrow==18.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycairo==1.20.1
pycountry==24.6.1
pycparser==2.22
pycuda==2024.1.2
pycups==2.0.1
pydantic==2.9.2
pydantic_core==2.23.4
Pygments==2.18.0
PyGObject==3.42.1
PyJWT==2.3.0
pymacaroons==0.13.0
PyNaCl==1.5.0
PyOpenGL==3.1.5
pyparsing==3.2.0
pyRFC3339==1.1
PySocks==1.7.1
pytest==6.2.5
python-apt==2.4.0+ubuntu4
python-dateutil==2.9.0.post0
python-dbusmock==0.27.5
python-debian==0.1.43+ubuntu1.1
python-dotenv==1.0.1
python-engineio==4.10.1
python-socketio==5.11.4
python-version==0.0.2
pythran==0.10.0
pytools==2024.1.15
pytz==2024.2
pyxdg==0.27
PyYAML==5.4.1
pyzmq==26.2.0
ray==2.39.0
referencing==0.35.1
regex==2024.11.6
requests==2.32.3
requests-oauthlib==2.0.0
retina-face==0.0.17
rich==13.9.4
rpds-py==0.21.0
rsa==4.9
safetensors==0.4.5
scipy==1.14.1
SecretStorage==3.3.1
segno==1.6.1
sentencepiece==0.2.0
simple-websocket==1.1.0
six==1.16.0
smbus2==0.5.0
sniffio==1.3.1
sounddevice==0.5.1
soupsieve==2.6
stack-data==0.6.3
starlette==0.41.3
sympy==1.13.1
systemd-python==234
tensorboard==2.13.0
tensorboard-data-server==0.7.2
tensorflow==2.13.1
tensorflow-cpu-aws==2.13.1
tensorflow-estimator==2.13.0
tensorflow-io-gcs-filesystem==0.37.1
tensorrt==10.6.0
tensorrt_dispatch==10.6.0
tensorrt_lean==10.6.0
termcolor==2.5.0
tf_keras==2.18.0
tflite-runtime==2.14.0
tiktoken==0.7.0
tokenizers==0.20.3
toml==0.10.2
torch @ http://jetson.webredirect.org/jp6/cu126/+f/9eb/58f01adfe35d1/torch-2.4.0-cp310-cp310-linux_aarch64.whl
torchaudio==2.5.1
torchvision @ http://jetson.webredirect.org/jp6/cu126/+f/9d2/6fac77a4e832a/torchvision-0.19.1a0+6194369-cp310-cp310-linux_aarch64.whl
tqdm==4.66.6
traitlets==5.14.3
transformers==4.46.3
typing_extensions==4.12.2
tzdata==2024.2
ubuntu-drivers-common==0.0.0
ubuntu-pro-client==8001
ufoLib2==0.13.1
unicodedata2==14.0.0
urllib3==2.2.3
urwid==2.1.2
uvicorn==0.32.0
uvloop==0.21.0
virtualenv==20.27.1
vllm @ file:///home/dcs/Downloads/vllm-0.6.4.dev0%2Bgfd47e57f.d20241015.cu126-cp310-cp310-linux_aarch64.whl#sha256=f184ec5ac084731b122fa2317daae03ff40c13343d17d3b13db5e7139b811b73
wadllib==1.3.6
watchfiles==0.24.0
wcwidth==0.2.13
websocket-client==1.8.0
websockets==14.1
Werkzeug==3.1.1
wrapt==1.16.0
wsproto==1.2.0
xdg==5
xkit==0.0.0
xxhash==3.5.0
yarl==1.17.2
zipp==1.0.0
